@import 'common';
@import 'variables';

body{

  .fixed_container{

    .chat_icon{
      width: 80px;
      height: 80px;
      position: fixed;
      right:50px;
      bottom:20px;
      background-color: #527ceb;
      border-radius:50%;

      i{
        padding: 20px 21px;
        font-size: 2rem;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

    .chat_window{
      width: 400px;
      height: 628px;
      background-color: #fff;
      border-radius: 20px;
      position: fixed;
      right:50px;
      bottom: 110px;

      .chat_window_top{
        width: 100%;
        height: 200px;
        padding: 10px 20px;
        background-color: #527ceb;
        border-radius: 20px 20px 0 0;

        .top_faq{
          text-align: center;
          color: #fff;
          span{
            margin: 0 20px;

            a{
              margin-left:5px;
            }
          }
        }

        .center_people{
          margin: 20px 0 10px 0;

          ul{
            display: flex;
            justify-content: center;

            img{
              width: 55px;
              border:2px solid #fff;
              border-radius: 50%;
              margin: 10px -5px;
            }

          }

        }

        .bottom_help{
          text-align: center;
          color:#fff;

          p:first-of-type{
            font-weight: bold;
          }
        }

      }

      .chat_window_bottom{
        height: calc(100% - 200px);
        padding: 20px;
        background-color: #00000014;

        // below this line first page in ther chat window
        .chat_home{

          .email_action, .chat_action{
            height: 100px;
            margin:20px 0;
            display: flex;
            border-radius: 10px;
            border: 1px solid #03a7d3e6;
            
          }

          .email_action_left_icon,
          .email_action_right_text,
          .chat_action_left_icon,
          .chat_action_right_text {
            display:flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
          }

        }
        // above this line first page in ther chat window

        // -------------------------

        // below this line is code about the direct chat in the chat window
        .conversation{

          .text_conversation{
            display: flex;
            flex-direction: column;
            height:  300px;
            background-color: #fff;
            padding: 10px;
            overflow-y: auto;

            .one_message{
              margin: 10px 0;

              .the_message{
                padding: 5px 10px;
                display: inline-block;
                max-width: 200px;
                border-radius: 10px;

              }

            }
          }

          .input_container{
            position: relative;

            input{
              width: 100%;
              padding: 10px 5px;
              margin-top: 5px;
            }

            i.far.fa-paper-plane{
              position: absolute;
              right:10px;
              top:40%;

            }
          }

        }

        // above this line is code about the direct chat in the chat window

        // ------------------------

        form{
          display:flex;
          flex-direction: column;

          input{
            padding: 10px;
            margin: 15px 0;
            border:none;
            border-radius: 5px;
          }

          textarea{
            max-width: 100%;
          }

          input:last-of-type{
            background-color: #527ceb;
          }

        }
      }
    }
  }
}
