
$menu-defoult-color: #fff;
$medium-font: 1.2rem;
//background colors:
//text colors:
$focus-text: #f9636b;
$focus-text2:#03a7d3e6;
//Fill colors:

@mixin inner_container{
  padding: 30px 50px;
}

@mixin header-brg-color{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%,
  rgba(9,9,121,1) 89%, rgba(9,12,123,1) 100%,
  rgba(9,12,123,1) 100%, rgba(8,37,139,1) 100%,
  rgba(0,212,255,1) 100%, rgba(5,100,181,1) 100%);
}

// defining buttons style
@mixin btn-general{
  padding: 10px 20px;
  border-radius: 25px;
}

@mixin btn-nav {
  padding: 10px 20px;
  border-radius: 25px;
  background: rgb(3,167,211);
  background: linear-gradient(90deg, rgba(3,167,211,1) 0%,
  rgba(78,126,234,1) 31%, rgba(5,50,168,1) 100%);
}

@mixin btn-light{
  padding: 15px 40px;
  border-radius: 25px;
  font-size: 1.3rem;
  background: rgb(2,1,17);
  background: linear-gradient(90deg, rgba(2,1,17,1) 0%,
  rgba(138,55,67,1) 0%, rgba(255,4,32,1) 0%, rgba(196,61,79,1) 0%,
  rgba(249,99,107,1) 95%);

}

@mixin btn-dark{
  padding: 15px 40px;
  border-radius: 25px;
  font-size: 1.3rem;
  background: rgb(3,167,211);
  background: linear-gradient(90deg, rgba(3,167,211,1) 0%,
  rgba(78,126,234,1) 31%, rgba(5,50,168,1) 100%);

}

//defining buttons style in hover state
@mixin btn-light-hover {
  background: rgb(3,167,211);
  background: linear-gradient(90deg, rgba(3,167,211,1) 0%,
  rgba(78,126,234,1) 31%, rgba(5,50,168,1) 100%);
  box-shadow: 0 0 50px rgb(3,120,190);
}

@mixin btn-dark-hover {
  background: rgb(2,1,17);
  background: linear-gradient(90deg, rgba(2,1,17,1) 0%,
  rgba(138,55,67,1) 0%, rgba(255,4,32,1) 0%, rgba(196,61,79,1) 0%,
  rgba(249,99,107,1) 95%);
  box-shadow: 0 0 30px rgb(200,100,150);

}

@mixin sectionTitle{
  text-align: center;
  padding: 60px 0px 100px 0px;


  p:first-child{
    color: $focus-text;
    font-size: 1.2rem;
  }

  .section_title{
    font-size: 3.5rem;
  }

  p:last-child{
    font-size: 1.2rem;

  }

}
